---
import { ChevronRightIcon } from "@components/icons/chevron-right-icon"
import { BaseLink } from "@components/link/base-link"
import { HeroPosts } from "@components/posts/hero-posts"
import { PostCategoryCol } from "@components/posts/post-category-col"
import { PostCol } from "@components/posts/post-col"
import { PostTwoCol } from "@components/posts/post-two-col"
import ContentLayout from "@layouts/ContentLayout.astro"
import { getPostSectionMap, getSortedPosts } from "@lib/astro/post"
import { getPageCount } from "@lib/paginate"


const allPosts = await getSortedPosts()

const postMap = getPostSectionMap(allPosts, 3)

const pages = getPageCount(allPosts)

const news = allPosts.filter(post => post.id.includes("news"))
---

<ContentLayout title="Blog" contentClassName="gap-y-16">
  <Fragment slot="main">
    <HeroPosts posts={allPosts} page={0} pages={pages} />
    <section class="grid grid-cols-1 gap-y-4 lg:grid-cols-2 lg:gap-x-12">
      <PostCol title="Latest" posts={allPosts} page={0} pages={pages}>
        <BaseLink
          href="/blog/latest"
          data-underline={true}
          className="trans-color group inline-flex flex-row gap-x-1 text-xs hover:text-primary-color data-[underline=true]:hover:decoration-primary-color"
          ><span>View all</span>
          <ChevronRightIcon
            stroke="stroke-[2px] stroke-foreground group-hover:stroke-primary-color "
          /></BaseLink
        >
      </PostCol>

      <PostCategoryCol section="engineering" postMap={postMap} client:load />
    </section>

    <PostTwoCol title="News" posts={news} page={0} pages={pages}>
      <BaseLink
        href="/blog/news"
        data-underline={true}
        className="trans-color group inline-flex flex-row gap-x-1 text-xs hover:text-primary-color data-[underline=true]:hover:decoration-primary-color"
        ><span>More news</span>
        <ChevronRightIcon
          stroke="stroke-[2px] stroke-foreground group-hover:stroke-primary-color"
        /></BaseLink
      >
    </PostTwoCol>

    <!-- <PostsPage posts={posts} page={0} pages={pages} slot="main" /> -->
  </Fragment>
</ContentLayout>
