---
import { BaseCol } from "@components/base-col"

import { PrimaryColorLink } from "@components/link/primary-color-link"
import { EPOCH, SITE_TITLE } from "@consts"
import ContentLayout from "@layouts/ContentLayout.astro"
import {
 
  differenceInHours,
 
  format,
} from "date-fns"

const today = new Date()

 
---

<ContentLayout title="About">
  <BaseCol className="w-full gap-y-8" slot="main">
    <BaseCol
      className="w-full gap-y-2 rounded-xl border border-gray-200 p-6 text-xs shadow-md dark:bg-white/10"
    >
      <p>
        {
          `Version ${format(today, "yyyy.MM.dd")}.${differenceInHours(today, EPOCH)}`
        }
      </p>
      <p>{`Updated ${format(today, "LLL dd, yyyy")}`}</p>

      <p>
        &copy; {format(today, "yyyy")}
        {SITE_TITLE}. All rights reserved.
      </p>
    </BaseCol>

    <BaseCol
      className="gap-y-2 rounded-xl border border-gray-200 p-6 text-xs shadow-md"
    >
      <p>
        This website is made possible by open source software and other
        services:
      </p>

      <ul class="flex w-full flex-col gap-y-1">
        <li>
          <PrimaryColorLink
            href="https://astro.build/"
            aria-label="View tool"
            data-underline={true}
          >
            Astro
          </PrimaryColorLink>
        </li>
        <li>
          <PrimaryColorLink
            href="https://react.dev/"
            aria-label="View tool"
            data-underline={true}
          >
            React
          </PrimaryColorLink>
        </li>
        <li>
          <PrimaryColorLink
            href="https://tailwindcss.com/"
            aria-label="View tool"
            data-underline={true}
          >
            Tailwind
          </PrimaryColorLink>
        </li>
        {
          /* <li>
            <BlueLink href="https://www.w3.org/html" aria-label="View tool">
              HTML5
            </BlueLink>
          </li> */
        }
        <li>
          <PrimaryColorLink
            href="https://www.npmjs.com"
            aria-label="View tool"
            data-underline={true}
          >
            NPM
          </PrimaryColorLink>
        </li>
        <li>
          <PrimaryColorLink
            href="https://nodejs.org/"
            aria-label="View tool"
            data-underline={true}
          >
            Node.js
          </PrimaryColorLink>
        </li>
        <li>
          <PrimaryColorLink
            href="https://github.com"
            aria-label="View tool"
            data-underline={true}
          >
            GitHub
          </PrimaryColorLink>
        </li>
        <li>
          <PrimaryColorLink
            href="https://code.visualstudio.com"
            aria-label="View tool"
            data-underline={true}
          >
            Visual Studio Code
          </PrimaryColorLink>
        </li>

        {
          /* <li>
            <BlueLink href="https://www.cloudflare.com/">Cloudflare</BlueLink>
          </li> */
        }
      </ul>
    </BaseCol>
  </BaseCol>
</ContentLayout>
