---
import { BaseCol } from "@components/base-col"
 
import { PrimaryColorLink } from "@components/link/primary-color-link"
import { EPOCH, SITE_TITLE } from "@consts"
import ContentLayout from "@layouts/ContentLayout.astro"
import { differenceInDays, differenceInHours, differenceInMinutes, format } from "date-fns";

const today = new Date(); 
 

const CLS = "block rounded-lg px-4 py-2 bg-blue-100 dark:bg-white/10 font-bold"
---

<ContentLayout title="About" >
  <BaseCol className="gap-y-8 w-full" slot="main">
    <BaseCol
      className="gap-y-4 rounded-xl bg-slate-100 dark:bg-white/10 p-6 w-full "
    >
       

      <div class="text-sm">
        <p>{`Version ${format(today, "yyyy.MM.dd")}.${differenceInHours(today, EPOCH)}`}</p>
        <p>{`Updated ${format(today, "LLL dd, yyyy")}`}</p>
      </div>

      <p class="text-sm">
        &copy; {format(today, "yyyy")}
        {SITE_TITLE}. All rights reserved.
      </p>
    </BaseCol>

   

    <div class="text-sm">
      <p>
        This website is made possible by open source software and other
        services:
      </p>

      <ul class="mt-4 flex w-full flex-col gap-y-2 text-sm">
        <li class={CLS}>
          <PrimaryColorLink
            href="https://astro.build/"
            aria-label="View tool"
            data-underline={true}
          >
            Astro
          </PrimaryColorLink>
        </li>
        <li class={CLS}>
          <PrimaryColorLink
            href="https://preactjs.com/"
            aria-label="View tool"
            data-underline={true}
          >
            Preact
          </PrimaryColorLink>
        </li>
        <li class={CLS}>
          <PrimaryColorLink
            href="https://tailwindcss.com/"
            aria-label="View tool"
            data-underline={true}
          >
            Tailwind
          </PrimaryColorLink>
        </li>
        {
          /* <li class={CLS}>
            <BlueLink href="https://www.w3.org/html" aria-label="View tool">
              HTML5
            </BlueLink>
          </li> */
        }
        <li class={CLS}>
          <PrimaryColorLink
            href="https://www.npmjs.com"
            aria-label="View tool"
            data-underline={true}
          >
            NPM
          </PrimaryColorLink>
        </li>
        <li class={CLS}>
          <PrimaryColorLink
            href="https://nodejs.org/"
            aria-label="View tool"
            data-underline={true}
          >
            Node.js
          </PrimaryColorLink>
        </li>
        <li class={CLS}>
          <PrimaryColorLink
            href="https://github.com"
            aria-label="View tool"
            data-underline={true}
          >
            GitHub
          </PrimaryColorLink>
        </li>
        <li class={CLS}>
          <PrimaryColorLink
            href="https://code.visualstudio.com"
            aria-label="View tool"
            data-underline={true}
          >
            Visual Studio Code
          </PrimaryColorLink>
        </li>

        {
          /* <li class={CLS}>
            <BlueLink href="https://www.cloudflare.com/">Cloudflare</BlueLink>
          </li> */
        }
      </ul>
    </div>
  </BaseCol>
</ContentLayout>
