---
import { BaseCol } from "@components/base-col"
import { HCenterCol } from "@components/h-center-col"
import { BaseLink } from "@components/link/base-link"
import { PrimaryColorLink } from "@components/link/primary-color-link"
import { AvatarImage } from "@components/people/avatar-image"
import { PostsPage } from "@components/posts/posts-page"
import { VCenterCol } from "@components/v-center-col"
import { VCenterRow } from "@components/v-center-row"
import { GITHUB_URL, RECORDS_PER_PAGE } from "@consts"
import ContentLayout from "@layouts/ContentLayout.astro"
import { getAuthorBaseUrl } from "@lib/author"
import { getPageItems } from "@lib/paginate"
import { getSortedPosts } from "@lib/post"

const posts = getPageItems(await getSortedPosts(), 0, RECORDS_PER_PAGE)

//const person = authorMap[getUrlFriendlyTag("Antony Holmes")]
---

<ContentLayout title="Home">
  <BaseCol className="gap-y-8" slot="main">
    <div class="grid grid-cols-1 gap-y-8 xl:grid-cols-5">
      <BaseCol className="col-span-3 gap-y-6 text-base">
        <BaseCol className="gap-y-2">
          <h1 class="text-5xl font-bold">Antony Holmes</h1>
          <h2 class="text-3xl font-semibold text-gray-400">
            Researcher & Software Engineer in New York
          </h2>
        </BaseCol>

        <p>
          Hi there! Welcome to my personal website. That's me in the photo,
          posing by the Hudson River for no particular reason, except maybe to
          look cool wearing Risky Business sunglasses.
        </p>

        <p>
          I'm a researcher and sofware engineer in New York City who has learned
          how to do a few cool things with Java, Python, C++, Go, React,
          Next.js, and Astro, some of which were used to make the site you're
          looking at now.
        </p>

        <p>
          I made this site with love and to try and get high{" "}
          <PrimaryColorLink
            href="https://pagespeed.web.dev/"
            data-underline={true}>Lighthouse</PrimaryColorLink
          >{" "}
          scores. I think I mostly succeeded.
        </p>

        <p>
          My blog covers an assortment of topics, mostly on tech, finance and
          whatever else takes my fancy.
        </p>

        <p>
          I have an aptly named publications page where you can view all of the
          scientific literature I have written, primarily focused on cancer
          genetics.
        </p>

        <p>
          My life story probably won't be optioned, but if it is, I hope the
          movie contains the music of Kraftwerk.
        </p>
      </BaseCol>

      <HCenterCol className="col-span-2">
        <BaseLink
          href={getAuthorBaseUrl("Antony Holmes")}
          aria-label="View profile"
        >
          <AvatarImage
            person="Antony Holmes"
            className="shadow-box h-64 w-64"
            client:visible
          />
        </BaseLink>
      </HCenterCol>
    </div>
    <VCenterRow className="justify-center">
      <VCenterRow className="gap-6">
        <PrimaryColorLink href={GITHUB_URL} data-underline={true}>
          GitHub
        </PrimaryColorLink>

        <PrimaryColorLink href="/resume" data-underline={true}>
          Resume
        </PrimaryColorLink>

        <PrimaryColorLink href="/publications" data-underline={true}>
          Publications
        </PrimaryColorLink>
      </VCenterRow>
    </VCenterRow>
    <section class="border-t border-gray-300 pt-16">
      <PostsPage posts={posts} page={0} pages={1} />
    </section>
  </BaseCol>
</ContentLayout>
