---
// Component Imports
import SimplePage from '../layouts/SimplePage.astro';
import websites from '../content/websites.json';


// interface MarkdownFrontmatter {
//   publishDate: number;
// }

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Resources';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

//let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./posts/*.md');
//allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<style>
  .resource-block {
    @apply mb-8;
  }

  .website-name {
    @apply text-base text-gray-500;
  }

  .website-link-name {
    @apply text-base m-0;
  }
</style>

<SimplePage title={title} description={description} permalink={permalink}>
  <p>Some interesting links from around the web.</p>
  {websites.map((websitegroup) => (
    <article class="resource-block">
      <h1 class="website-name">{websitegroup.name}</h1>
      <ol>
        {websitegroup.links.map((link) => (
          <li class="mb-4">
            <h2 class="website-link-name">{link.name}</h2>
            <a href={link.url} class="text-sm">{link.url}</a>
          </li>
          ))}
      </ol>
    </article>
  ))}
</SimplePage>
