---
// Component Imports
import SimplePage from '../layouts/SimplePage.astro';

import jobs from '../content/jobs.json';


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Resume';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
---

<SimplePage title={title} description={description} permalink={permalink}>
                
{jobs.map((job) => (
  <div>
  <h3>{job.date}</h3>
    <h1>{job.title}</h1>
    <h2>{job.overview}</h2>
    <ol class="list-decimal list-inside border border-solid border-gray-200 rounded-md p-4">
    {job.details.map((detail) => (
      
          <li class="mb-8">
              {detail}
          </li>
        
        ))}
  </ol>
  </div>
))}
                

</SimplePage>
