---
// Component Imports
import SimplePage from '../layouts/SimplePage.astro';

import jobs from '../content/jobs.json';
import volunteer from '../content/volunteer.json';
import education from '../content/education.json';
import skills from '../content/skills.json';


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Resume';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
---

<style>
  .job {
    @apply mb-12;
  }

  .job-date {
    @apply text-gray-500;
  }

  .skills-list {
    @apply flex flex-row flex-wrap items-stretch w-full justify-between;
  }

  .skill {
    @apply block border border-solid border-gray-200 rounded-md p-4 w-48/100 mb-4;
  }

  .skill-details {
    @apply m-0;
  }

  .skill-notes {
    @apply text-gray-500 text-sm;
  }

  .details-list {
    @apply list-decimal list-inside;
  }

  .detail {
    @apply mb-2;
  }

  .school {
    @apply font-normal;
  }

  .resume-section {
    @apply mb-4;
  }

  .resume-section-secondary {
    @apply border-t border-solid border-gray-300 pt-8 mt-16;
  }
</style>

<SimplePage title={title} description={description} permalink={permalink}>

  <h1 class="resume-section">Skills</h1>        
  {skills.map((skillset) => (
    <section class="job">
      <header>
      <h2 class="job-date">{skillset.name}</h2>
      </header>
      <main>
      <ul class="skills-list">
          {skillset.skills.map((skill) => (
            <li class="skill">
                <h3>{skill.name}</h3>
                <p class="skill-details">{skill.details}</p>
                <p class="skill-details skill-notes">{skill.notes}</p>
            </li>
          ))}
      </ul>
    </main>
    </section>
  ))}

  <h1 class="resume-section resume-section-secondary">Experience</h1>        
  {jobs.map((job) => (
    <section class="job">
      <header>
      <h3 class="job-date">{job.date}</h3>
      <h2>{job.title}</h2>
      </header>
      <main>
      <p>{job.overview}</p>
      <ul class="details-list">
          {job.details.map((detail) => (
            <li class="detail">
                {detail}
            </li>
          ))}
      </ul>
    </main>
    </section>
  ))}

  <h1 class="resume-section resume-section-secondary">Volunteer Work</h1>        
  {volunteer.map((job) => (
    <section class="job">
      <header>
      <h3 class="job-date">{job.date}</h3>
      <h2>{job.title}</h2>
      </header>
      <main>
      <p>{job.overview}</p>
      <ul class="details-list">
          {job.details.map((detail) => (
            <li class="detail">
                {detail}
            </li>
          
          ))}
      </ul>
    </main>
    </section>
  ))}


  <h1 class="resume-section resume-section-secondary">Education</h1>        
  {education.map((degree) => (
    <section class="job">
      <header>
      {degree.date !== "" && <h3 class="job-date">{degree.date}</h3>}
      <h3 class="school">{degree.school}</h3>
      <h2>{degree.title}</h2>
      </header>
      <main>
      <ul>
          {degree.details.map((detail) => (
            <li class="detail">
                {detail}
            </li>
          
          ))}
      </ul>
    </main>
    </section>
  ))}
                  

</SimplePage>
