---
// Component Imports
import SimplePage from '../layouts/SimplePage.astro';

import jobs from '../content/jobs.json';
import volunteer from '../content/volunteer.json';
import education from '../content/education.json';
import skills from '../content/skills.json';


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Resume';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';
---

<style>
  .job {
    @apply mb-12 border border-solid border-gray-300 rounded-md overflow-hidden text-sm;
  }

  .job-date {
    @apply text-gray-500 text-base font-normal mb-1;
  }

  .job-header {
   
  }

  .job-title {
    @apply p-3 bg-gray-100 text-sm; 
  }

  .job-overview {
    @apply m-0 p-3; 
  }

  .skills-list {
    @apply flex flex-row flex-wrap items-stretch w-full justify-between;
  }

  .skill {
    @apply block bg-blue-100 text-blue-500 rounded-md px-4 py-6 w-48/100 mb-4;
  }

  .skillset {
    @apply text-base text-blue-800 mb-1;
  }

  .skill-name {
    @apply text-sm;
  }

  .skill-details {
    @apply m-0  text-sm;
  }

  .skill-notes {
    @apply font-light text-xs;
  }

  .details-list {
    @apply list-decimal list-inside p-3;
  }

  .detail {
    @apply mb-2;
  }

  .degree {
    @apply bg-green-100 rounded-md p-4 mb-4 text-green-500;
  }

  .school {
    @apply font-normal text-sm;
  }

  .degree-date {
    @apply text-sm text-green-500;
  }

  .resume-section {
    @apply mb-4;
  }

  .resume-section-secondary {
    @apply mt-16;
  }
</style>

<SimplePage title={title} description={description} permalink={permalink}>
  <div>
    <h1 class="resume-section">Skills</h1>        
    {skills.map((skillset) => (
      <section>
        <header>
        <h2 class="skillset">{skillset.name}</h2>
        </header>
        <main>
        <ul class="skills-list">
            {skillset.skills.map((skill) => (
              <li class="skill">
                  <h3 class="skill-name">{skill.name}</h3>
                  <p class="skill-details">{skill.details}</p>
                  <p class="skill-details skill-notes">{skill.notes}</p>
              </li>
            ))}
        </ul>
      </main>
      </section>
    ))}

    <h1 class="resume-section resume-section-secondary">Experience</h1>        
    {jobs.map((job) => (
      <article>
        <h3 class="job-date">{job.date}</h3>
        <section class="job">
        <header class="job-header">
        
        <h2 class="job-title">{job.title}</h2>
        <p class="job-overview">{job.overview}</p>
        </header>
        <main>
        
        <ul class="details-list">
            {job.details.map((detail) => (
              <li class="detail">
                  {detail}
              </li>
            ))}
        </ul>
      </main>
      </section>
      </article>
    ))}

    <h1 class="resume-section resume-section-secondary">Volunteer Work</h1>        
    {volunteer.map((job) => (
        <article>
        <h3 class="job-date">{job.date}</h3>
        <section class="job">
        <header class="job-header">
        
        <h2 class="job-title">{job.title}</h2>
        <p class="job-overview">{job.overview}</p>
        </header>
        <main>
        
        <ul class="details-list">
            {job.details.map((detail) => (
              <li class="detail">
                  {detail}
              </li>
            
            ))}
        </ul>
      </main>
      </section>
      </article>
    ))}


    <h1 class="resume-section resume-section-secondary">Education</h1>        
    {education.map((degree) => (
      <section class="degree">
        <header>
        {degree.date !== "" && <h3 class="degree-date">{degree.date}</h3>}
        <h3 class="school">{degree.school}</h3>
        <h2>{degree.title}</h2>
        </header>
        <main>
        <ul>
            {degree.details.map((detail) => (
              <li class="detail">
                  {detail}
              </li>
            
            ))}
        </ul>
      </main>
      </section>
    ))}
                  
  </div>
</SimplePage>
