---

import dayjs from "dayjs"
import Author from './Author.astro';
import config from "../site.config.json" 

export interface Props {
  title: string;
  author: string;
  publishDate: string;
  heroImage: string;
  alt: string;
}


const { twitter } = config;

const { title, author, publishDate, heroImage, alt } = Astro.props;
---

<style>
  .publish-date {
    @apply m-0;
  }

  .title {
    @apply m-0;
  }
</style>

<article class="content">
  <header>
    {heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />}
    <p class="publish-date">{dayjs(publishDate).format("MMM DD, YYYY")}</p>
    <h1 class="title">{title}</h1>
    <Author name={`@${twitter}`} href={`https://twitter.com/${twitter}`} />
  </header>
  <main>
    <slot />
  </main>
</article>


