---
import Container from './Container.astro';
import AltView from './AltView.astro';

import infoLinks from '../content/headerlinks.json';
import publications from '../content/publications.json';

import DropDownMenu from './DropDownMenu.tsx'

export interface Props {
  tab: string
}

const { tab } = Astro.props;

const cp = publications.length


//{link.name === "Publications" && <div class="tab-counter">{cp}</div>} 
---

<style>
  .header {
    @apply flex flex-row w-full border-b border-solid border-gray-200 py-4 mb-8;
  }

  .sidebar {
    @apply w-full w-full lg:w-1/3 xl:w-1/4;
  }

  .header-links-list {
    @apply flex flex-row text-sm font-medium;
  }

  .header-links-list-item {
    @apply block h-full;
  }

  .header-links-list-item-link {
    @apply flex flex-row h-full items-center px-2 lg:px-4 py-2 border-none;
  }

  .header-links-list-item-not-selected {
    @apply text-gray-500 border-transparent hover:text-gray-900 transition ease-in-out duration-300;
  }

  .header-links-list-item-selected {
    @apply bg-blue-50 text-blue-800 rounded-md;
  }

  .header-content {
    @apply flex flex-row;
  }

  .tab-counter {
    @apply flex flex-row justify-center px-2 py-1 ml-2 rounded-full bg-gray-200 text-center font-normal text-xs;
  }
</style>

<header class="header">
  <AltView size="xl">
    <DropDownMenu slot="c1" client:visible>
      <ul>
        {infoLinks.map(
          (link: { name: string; url: string }, index: number) => {
            return (
              <li key={index} class="header-links-list-item">
                <a href={link.url} class={`header-links-list-item-link ${link.name === tab ? "header-links-list-item-selected" : "header-links-list-item-not-selected"}`}>
                <div>{link.name}</div>
              </a>
              </li>
            )
          }
        )}
      </ul>
    </DropDownMenu>
    <Container slot="c2">
      <div class="sidebar" />
      <div class="header-content">
          <ul class="header-links-list">
            {infoLinks.map(
              (link: { name: string; url: string }, index: number) => {
                return (
                  <li key={index} class="header-links-list-item">
                    <a href={link.url} class={`header-links-list-item-link ${link.name === tab ? "header-links-list-item-selected" : "header-links-list-item-not-selected"}`}>
                    <div>{link.name}</div>
                    
                  </a>
                  </li>
                )
              }
            )}
          </ul>
      </div>
    </Container>
  </AltView>
</header>