---
import config from "../site.config.json"
import links from "../content/sidebarlinks.json" 
import BlackLink from './links/BlackLink.astro';

const { site,email } = config
---

<style>
  .sidebar {
    @apply px-4 w-full lg:w-1/3 xl:w-1/4 xl:px-8 mb-8;
  }

  .me {
    @apply rounded-full w-1/2 md:w-1/4 lg:w-1/2 xl:w-3/4 2xl:w-full xl:-mt-16 border border-solid border-gray-200 mb-4;
  }

  .email {
    @apply flex flex-row items-center text-sm mt-2;
  }

  .email-icon {
    @apply w-6 text-gray-500;
  }
</style>

<div class="sidebar">
<a href="/"><img src="/images/authors/antony-holmes.jpg" class="me" /></a>
<h1>{site}</h1>
<ul>
<li class="email">
  <div class="email-icon"><i class="far fa-envelope"></i></div>
  <div><BlackLink href={`mailto:${email}`}>{email}</BlackLink></div>
</li>

{links.map(
  (link: { name: string; url: string }, index: number) =>  (
      <li class="email">
        <div class="email-icon"><i class="fas fa-link"></i></div><div><BlackLink href={link.url}>{link.name}</BlackLink></div>
      </li>
    )
  
)}
</ul>


</div>