---
import config from "../site.config.json"
import links from "../content/sidebarlinks.json" 

import BlackLink from './links/BlackLink.astro';


const { site,email } = config;

---

<style>
  .sidebar {
    @apply w-1/2 md:w-1/4 px-4 xl:px-12 mb-8;
  }

  .me {
    @apply rounded-full xl:-mt-12 border border-solid border-gray-300 mb-4;
  }

  .email {
    @apply flex flex-row items-center text-sm mt-2;
  }

  .email-icon {
    @apply w-6 text-gray-500;
  }
</style>

<div class="sidebar">
<a href="/"><img src="/images/authors/antony-holmes.jpg" class="me" /></a>
<h1>{site}</h1>
<ul>
<li class="email">
  <div class="email-icon"><i class="far fa-envelope" /></div><div><BlackLink href={`mailto:${email}`}>{email}</BlackLink></div>
</li>

{links.map(
  (link: { name: string; url: string }, index: number) => {
    return (
      <li class="email">
        <div class="email-icon"><i class="fas fa-link" /></div><div><BlackLink href={link.url}>{link.name}</BlackLink></div>
      </li>
    )
  }
)}
</ul>


</div>
