---
import { type ILayoutProps } from "@interfaces/layout-props"
import { cn } from "@lib/class-names"
import BaseLayout from "./BaseLayout.astro"
import { Header, type IHeaderChildrenProps } from "@components/header/header"

export interface Props extends ILayoutProps, IHeaderChildrenProps {
  headerClassName?: string
}

let {
  title,
  tab,
  headerLeftChildren,
  headerRightChildren,
  headerCenterChildren,
  //headerClassName = "bg-gradient-to-r from-cyan-500 to-indigo-600 text-white",
  className,
} = Astro.props

if (!tab) {
  tab = title
}
---

<BaseLayout title={title}  >
  <slot name="head" slot="head" />
  <Fragment slot="main">
    <Header
      title={title}
      tab={tab}
      headerLeftChildren={headerLeftChildren}
      headerRightChildren={headerRightChildren}
    >
      {headerCenterChildren}
    </Header>

    <main class={cn("flex flex-col min-h-screen", className)}>
      <slot name="main" />
    </main>
  </Fragment>
  <!-- <slot name="footer" slot="footer" /> -->
</BaseLayout>
