---
import { GitHubIcon } from "@components/icons/github-icon"
import { RssIcon } from "@components/icons/rss-icon"
import { GITHUB_URL, SITE_TITLE } from "@consts"
import { INFO_LINKS } from "@menus"

import { BaseLink } from "@components/link/base-link"
import { ContentDiv } from "@components/content-div"
import { BaseCol } from "@components/base-col"
import { VCenterRow } from "@components/v-center-row"

//import ThemeToggle from "./theme-toggle"
//import ThemeToggleSwitch from "./theme-toggle-switch"
---

<footer class="flex flex-col pt-32">
  <ContentDiv>
    <div
      class="flex flex-col justify-between gap-y-12 border-t border-border py-5 text-xs md:flex-row"
    >
      <VCenterRow className="flex flex-row gap-x-8 dark:border-white/20">
        <span class="font-medium">
          &copy; <script type="text/javascript" is:inline>
            document.write(new Date().getFullYear())
          </script>
          {SITE_TITLE}
        </span>

        <ul class="flex flex-row gap-x-4 font-thin">
          {
            INFO_LINKS.map((link: { name: string; url: string }) => (
              <li>
                <BaseLink
                  href={link.url}
                  aria-label={`View ${link.name}`}
                  data-underline={true}
                  className="hover:text-primary-color data-[underline=true]:hover:decoration-primary-color trans-color"
                >
                  {link.name}
                </BaseLink>
              </li>
            ))
          }
        </ul>
      </VCenterRow>
      <ul class="flex flex-row gap-x-4 gap-y-4 text-sm" slot="main">
        <li>
          <BaseLink href={GITHUB_URL} aria-label="View my GitHub profile">
            <GitHubIcon className="w-5 dark:fill-white" />
          </BaseLink>
        </li>
        <li>
          <BaseLink href="/rss.xml" aria-label="View RSS feed">
            <RssIcon className="w-5 fill-orange-500" />
          </BaseLink>
        </li>
        <!-- <li><ThemeToggle client:load /></li> -->
      </ul>
    </div>
  </ContentDiv>

  <!-- <ContentDiv>
    <BaseRow slot="main" className="text-sm">
      <ThemeToggleSwitch className="w-36" client:visible />
    </BaseRow>
  </ContentDiv> -->

  <!-- <ContentDiv>
    <ul
      class="flex flex-row items-center justify-center gap-y-4 gap-x-8 text-xs"
      slot="main"
    >
      {
        INFO_LINKS.map((link: { name: string; url: string }) => (
          <li>
            <BaseLink
              href={link.url}
              ariaLabel={`View ${link.name}`}
              underline={true}
            >
              {link.name}
            </BaseLink>
          </li>
        ))
      }
    </ul>
  </ContentDiv> -->
</footer>
