---
import type { CollectionEntry } from "astro:content"
import PostLayout from "./PostLayout.astro"
import { HeroImage } from "@components/posts/hero-image"
import { CompactAvatars } from "@components/people/compact-avatars"
import { FormattedDate } from "@components/formatted-date"
import { MarkdownContent } from "@components/markdown-content"
import { BaseCol } from "@components/base-col"
import { PostTags } from "@components/posts/post-tags"
import { ClockIcon } from "@components/icons/clock-icon"
import { VCenterRow } from "@components/v-center-row"

interface Props {
  section: string
  post: CollectionEntry<"posts">
}

const { section, post } = Astro.props
const { Content, remarkPluginFrontmatter } = await post.render()
---

<PostLayout title={post.data.title} tab="Blog">
  <Fragment slot="main">
    <HeroImage post={post} />

    <CompactAvatars people={post.data.authors} />

    <VCenterRow className="gap-x-4">
      <FormattedDate date={post.data.added} />

      <span class="h-full w-2px bg-foreground/25"></span>

      <VCenterRow className="gap-x-2 text-foreground/75">
        <ClockIcon stroke="fill-foreground/75" />
        <span>{remarkPluginFrontmatter.minutesRead}</span></VCenterRow
      >
    </VCenterRow>

    <div
      class="grid grid-cols-1 gap-x-4 border-t-2 border-border pt-8 lg:grid-cols-4"
    >
      <MarkdownContent className="col-span-3">
        <Content />
      </MarkdownContent>
      <BaseCol>
        <PostTags post={post} />
      </BaseCol>
    </div>
  </Fragment>
</PostLayout>
